/*
Developed under a Research grant from NMEICT, MHRD
by
Amrita CREATE (Center for Research in Advanced Technologies for Education),
VALUE (Virtual Amrita Laboratories Universalizing Education)
Amrita University, India 2009 - 2013
http://www.amrita.edu/create
*/


.tinyTxtArea{
	margin: 5px 5px 3px 0px;
	float:right;
	color: #888888;
	font-size:11px;
	width:50px;
}

.labelTitle {
	padding: 3px 0px 0px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 200;
	color: #626262;
	/*padding-top: 5px;*/
	text-align:left !important;
}

.dropdownBox {
	margin: 10px 0px 3px 15px;
	color: #888888;
	font-size:11px;
	width:160px;
	border: solid 1px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#speciesCanvas{
border:#eabeb4 solid 1px;
background-color:#f8f8f8;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
margin:10px 0px 0px 15px;
}
#tinyGraphArea{
	
	margin:5px 20px 5px 55px;
	width:500px;
	height:380px;
	}

#ST{
	
	height:30px;
	width:100px;
	margin:10px 0px 0px 30px;
	cursor:pointer; cursor: hand;
	display:inline-block;
	padding: 6px 0px 0px 45px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#6e6e6e;
}
#DP{
	height:30px;
	width:100px;
	margin:10px 0px 0px 30px;
	cursor:pointer; cursor: hand;
	display:inline-block;
	padding: 6px 0px 0px 40px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#6e6e6e;
	
}
#WS{
	height:30px;
	width:128px;
	margin:14px 0px 0px 10px;
	cursor:pointer; cursor: hand;
	display:inline-block;
	padding: 6px 0px 0px 45px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#6e6e6e;
}

#statLabel{
	position:absolute;
	background-color:#fef9f9;
	margin:27px 0px 0px 35px;
	border:#eabeb4 solid 1px; 
	z-index:1; 
	width:300px; 
	height:80px;
	opacity:0.6;
	filter:alpha(opacity=60);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.Label{
	text-align:left !important;
	font-size:16px;
	font-weight:bold 800px;
	margin:10px 0px 0px 5px;
}