@charset "utf-8";
.rotate {position:absolute;
top: 56px;
left: -15px;
     -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
   filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
   -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
   font-weight:bold;
}
#NrCn{position:absolute;
left: 215px;
top: 112px;
font-weight:bold;
	
	}
	#graph{
	position:absolute;
	border-bottom:#000 solid 2px;
	border-left:#000 solid 2px;
	border-top:#666 solid 1px;
	border-right:#666 solid 1px;
	width:450px;
	height:100px;
	left:10%;
	}	
#ImgBox{
position: absolute;
height: 208px;
width: 424px;
top: 159px;
left: 77px;
	}
#twine{
position: absolute;
width: 218px;
height: 2px;
background-color: #cccccc;
right: 118px;
top: 163px;
	}
#ImgBlock{
position: absolute;
width: 69px;
height: 43px;
left: 158px;
top: 146px;
}	
#twineTwo{
position: absolute;
width: 2px;
height: 11px;
background-color: #cccccc;
right: 100px;
top: 182px;
	}
#weightBlock{
position: absolute;
width: 50px;
height: 69px;
left: 434px;
top: 192px;
}
	#hook{
	position:absolute;
	left: 23px;
	}
	#weightBar{
	position:absolute;
	top: 9px;
	left: 11px;
	background-image:url(../images/weight.png);
	width:31px;
	}
.rangeSliderOne{margin: 3px 0px 3px 30px;
font-size: 11px;
}
#dummy { display:none;
 }
#blockWeight_one_extnt{
	margin-left: 142px;
	margin-top: -17px;
	}
#hangingWght_extnt{
	margin-left: 141px; 
	margin-top: -15px; 
	}
.rangeVals .minrange{
	padding-left:12px;
	}
#LmtngFrctn_Extn_val{
	margin-top: -17px;
	margin-left: 119px;
	}
#NrmlRctn_Extn_val{
	margin-left: 98px;
	margin-top: -17px;
	}
#CoffntFrctn_Extn_val{
	margin-left: 116px;
	margin-top: -17px;
	}
#Blockweight_textbox{
margin-left: 74px;
margin-top: -17px;
margin-bottom: 5px;
}
#Hangingweight_textbox{
margin-left: 91px;
margin-top: -19px;
margin-bottom: 5px;
}