#AngleLbl { 
	margin:20px 6px 5px 2px; 
}
#AngleVal { 
	margin: -22px 0px 0px 40px; 
}
.rangeSlider {
	margin: 3px 0px 0px 13px;
	cursor:pointer;
}
#rightminval {
	 margin: 16px 30px -5px 15px;
}
#rightmaxval { 
	margin: 0px 0px 0px 81px; 
}
#LeftVal { 
	margin: -16px 0px 0px 100px; 
}
#leftminval {
	margin: 2px 28px 0px 15px; 
}
#leftmaxval { 
	margin: 0px 0px 0px 81px; 
}
#scaleBtn {
	/*margin: 10px -1px 11px 27px;
	width: 136px;
	height: 25px;*/
}
#ResetBtn {
	/*margin: 10px -1px 19px 27px;
	width: 136px;
	height: 25px;*/
}
.addSpace{
	padding: 80px 0px 0px 0px;
}
.addstartSpace{
	padding: 5px 0px 0px 0px;
}
/*canvas*/
#mainDiv{
	position:absolute;
	top: 0px;
	left: 0px;
	width:570px;
	height:337px;
	overflow:hidden;
	background:#FFF;
	opacity:0.99;
}

#inclineStick{
	position: absolute;
	top: 191px;
	left: 159px;
	z-index:1;
}
#threadVert{
	position:absolute;
	width:1px;
	height:80px;
	background-color:#FFF;
	overflow: visible !important;
}
#threadHoriz{
 	position: absolute;
	width: 102px;
	height: 1px;
	top: 1px;
	left: 18px;
	background-color: #FFF;
	overflow: visible !important;
}
hr {
	position:absolute;
  	border-bottom:1px dashed #FFF;
	width: 147px;
	top: 207px;
	left: 163px;
}
#roller{
	position: absolute;
	top: -8px;
	left: 119px;
	width: 27px;
	right: 113px;
}
#weight{
	position: absolute;
	top: 80px;
	left: -6px;
	height: 15px;
}
#vertContainer{
	position: absolute;
	top: 19px;
	left: 3px;	
}
#weightHook{
	position: absolute;
	top: 0px;
	left: -13px;	
}
#thrassUnder{
	position: absolute;
	top: 0px;
	left:-13px;
}
#hangWeight{
	overflow: hidden;
	top: 42px;
	position: absolute;
	left: -3px;
	height: 2px;
}
#ScaleDiv {
	position: absolute;
	left: 350px;
	top: -156px;
	width: 71px;
	height: 467px;
	z-index:2;
	display:none;
}
#scalearrowImg1 {
	position: absolute;
	top: 203px;
	left: 16px;
	cursor: pointer;
	padding: 15px 0px 0px 40px;
	height:20px;
}
#scalearrowImg2 {
	position: absolute;
	top: 240px;
	left: 16px;
	cursor: pointer;
	padding: 15px 0px 0px 40px;
	height:20px;
}
#scalearrowImg{
	position: absolute;
	top: 223px;
	left: 34px;
	
}
#helpLabel{
	position:absolute; 
	top: 278px; 
	width: 130px;	
	padding: 5px 0px 0px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #FFF;
	text-align: left;
}
#bg_InclinedPlane{
	position:absolute; 
	top:0px;
}